html, 
body {
  height: 100%;
}

body {
  background: black;
  color: #149414;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  user-select: none;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.timer {
  display: flex;
  flex-direction: row;
  font-size: 60px;
  gap: 8px;
  color: #FF537D;
}

.statistic {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 5px;
  margin-right: 20px;
}

.calculation {
  display: flex;
  flex-direction: row;
  gap: 20px; 
}

#first-num {
  font-size: 100px;
}

#second-num {
  font-size: 100px;
}

#result {
  font-size: 80px;
  color: #D4A65B;
}

.operator {
  font-size: 100px;
}

.config-calculation {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 25px;
}

.config-num-1,
.config-num-2,
.config-operator {
  background: #2A2A2A;
  color: #149414;
  border: solid 2px;
  text-align: center;
  margin: 15px 10px;
  font-size: 20px;
  width: 60px;
  height: 40px;
}
